<p id="notice"><%= notice %></p>

<h1>Жанры</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>        
        <td><%= link_to 'Правка', edit_genre_path(genre) %></td>
        <td><%= link_to 'Удалить', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый жанр', new_genre_path %>
