<p id="notice"><%= notice %></p>

<h1>Книги</h1>

<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Автор</th>
      <th>Издательство</th>
      <th>Год</th>
      <th>Жанр</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.name, book %></td>
        <td><%= book.author %></td>
        <td><%= book.publisher %></td>
        <td><%= book.year %></td>
        <td><%= book.genre.name %></td>
        <td><%= link_to 'Правка', edit_book_path(book) %></td>
        <td><%= link_to 'Удалить', book, method: :delete, data: { confirm: 'Вы уверены?' } %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая книга', new_book_path %>
<br>
<%= link_to 'Список жанров', genres_path %>
