<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Издательство:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Год:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Жанр:</strong>
  <% @genre = Genre.find(@book.genre_id) %>
  <%= @genre.name %>
</p>

<%= link_to 'Правка', edit_book_path(@book) %> |
<%= link_to 'Назад', books_path %>
